body {
    max-width: 950px;
    margin: 0 auto;
    border: 1px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0px;
    background-color: #ede1ed;
}
img {
    border-radius: 50%;
    height: 180px;

}
.info{
padding-left: 80px;
text-align: center;
}
.container {
    display: flex;
}

.flex-1 {
    width: 30%;
    background-color: #f7f5f7;
    padding: 0 20px; 
}

.flex-2 {
    width: 70%;
    padding: 0 20px; 
}
.contact{
    max-width: 350px;
    width: 100%;
    margin: 0 20px;
}
.input_field{
    width: 30em;
    margin-bottom: 20px;
    padding: 7px;
    border: 1px solid #333;
}

.btn{
    width: 30em;
    border: 1px solid;
    cursor: pointer;
    padding: 10px;
    font-size: 14px;
    background-color: #ede1ed;
    color: #000;
    border-radius: 5px;
}